.no-margin{
  margin:0 !important;
}

.margin-top{
  margin-top: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.game-item{
  border-bottom-width:1px;
  border-bottom-style: solid;
}

.item.item-leader-board{
  padding-right: 30%;
}

.item.item-leader-board .badge{
  position: absolute;
  top:27px;
  right:10px;
}

.item.item-leader-board .score{
  position: absolute;
  left: 70%;
  top:27px;
  font-size: 16px;
  font-weight: bold;
}
